@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Extended Black'), local('RF-Dewi-Extended-Black'),
        url('RFDewiExtended-Black.woff2') format('woff2'),
        url('RFDewiExtended-Black.woff') format('woff'),
        url('RFDewiExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }